*{
    box-sizing: border-box;
    margin: 2px;
    font-family: 'Tai Heritage Pro', serif;
background-color: rgb(234, 218, 198);
}
.box{
    border: 2px solid red;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    padding:5px;
    display: flexbox;
}
.heading{
    font-size: 90px;
    background: rgb(223, 190, 223);
    text-shadow: 3px 5px 8px rgb(127, 67, 67);
    width: auto;
    border: 2px black solid;
    display: flex;
    justify-content: center;
}
.img1{
    display: flex;
    width:auto;
    height: fit-content;
    justify-content:center;
    border: black 2px solid;

}
.h2{
    font-size: 40px;
    text-shadow: 4px 4px 5px gray;
    text-decoration: underline;
    border: 2px solid black;
    display:inline-block;
    justify-content: center;
    width:auto;
}
.add{
    display: flex;
    border: 2px black solid;
    justify-content:space-between;
}
.listtot{
display:inline-block;
    border: black 2px solid;
 width:auto;
}
.img2{
    border: 2px solid black;
    display:inline-flex;
    justify-content: center;
    width:85%;
    padding: 50px;
    height: auto;
}
.items{
    font-size: 60px;
}
li{
    font-size: 45px;
}
a:hover{
    color: coral;
}
a{
    color:rgb(119, 72, 44)
}